<!doctype html>
<html lang="en" ng-app="app">
<head>
  <meta charset="utf-8">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="mobile-web-app-capable" content="yes">
  <title>My App</title>  
  
  <link rel="stylesheet" href="lib/onsen/css/onsenui.css">  
  <link rel="stylesheet" href="styles/onsen-css-components.css">  
  <link rel="stylesheet" href="styles/app.css"/>

  <meta name="theme-color" content="#ea2f4a">

  <script src="lib/onsen/js/angular/angular.js"></script>    
  <script src="lib/onsen/js/onsenui.js"></script>   
  <script src="//code.jquery.com/jquery-1.10.2.min.js"></script>

  <script src="js/index.js"></script>
  <script type="text/javascript">
    if (!navigator.userAgent.toLowerCase().match('chrome')) {
        document.write("<script src='cordova.js'><\/script>");
    }
  </script>
  <!-- <script src="cordova.js"></script> -->
  <script src="js/app.js"></script>
  
  
</head>

<body>

  <ons-sliding-menu
    menu-page="menu.html" main-page="page-main.html" side="left"
    var="menu" type="reveal" max-slide-distance="220px" swipeable="true">
  </ons-sliding-menu>



  <!-- <ons-template id="page200.html">
    
  </ons-template>
 -->


  <ons-template id="page-balance.html">
    <ons-page ng-controller="BalanceCtrl">
      <ons-toolbar>
        <div class="left">
          <ons-toolbar-button ng-click="menu.toggle()">
            <ons-icon icon="ion-navicon" size="28px" fixed-width="false"></ons-icon>
          </ons-toolbar-button>
        </div>
        <div class="center">{{page_title}}</div>
      </ons-toolbar>

      <ons-row style="margin-top: 100px; text-align: center;">
        <ons-col>
          <ons-button modifier="light" ng-click="menu.toggleMenu()">
            Toggle Menu
          </ons-button>
        </ons-col>
      </ons-row>

    </ons-page>
  </ons-template>


  <ons-template id="page-transactions.html">
      <ons-page id="page-transactions" ng-controller="TransactionsCtrl">
        <ons-toolbar>
        <div class="left">
          <ons-toolbar-button ng-click="menu.toggle()">
            <ons-icon icon="ion-navicon" size="28px" fixed-width="false"></ons-icon>
          </ons-toolbar-button>
        </div>
        <div class="center">{{page_title}}</div>
      </ons-toolbar>

        <ons-list>

          <ons-list-item modifier="tappable" class="plan" ng-repeat="transaction in transactions">
            <ons-icon icon="fa-home" size="20px"></ons-icon> {{ transaction.datetime }}
            -
            <span class="list-item-action">
              {{ transaction.description }}
            </span>

            <span class="list-item-action" style="float:right;">
              R$ {{ transaction.amount }}
            </span>
          </ons-list-item>

        </ons-list>

          

      </ons-page>
    </ons-template>

<script>

app.initialize();

</script>
 
</body>
</html>
