<!doctype html>
<html lang="en" ng-app="app">
<head>
  <meta charset="utf-8">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="mobile-web-app-capable" content="yes">
  <title>My App</title>  
  
  <link rel="stylesheet" href="lib/onsen/css/onsenui.css">  
  <link rel="stylesheet" href="styles/onsen-css-components.css">  
  <link rel="stylesheet" href="styles/app.css"/>

  <script src="lib/onsen/js/angular/angular.js"></script>    
  <script src="lib/onsen/js/onsenui.js"></script>   
  <script src="//code.jquery.com/jquery-1.10.2.min.js"></script>

  <script src="js/index.js"></script>
  <script type="text/javascript">
    if (!navigator.userAgent.toLowerCase().match('chrome')) {
        document.write("<script src='cordova.js'><\/script>");
    }
  </script>
  <!-- <script src="cordova.js"></script> -->


  <script>
    var module = angular.module('app', ['onsen']);

    module.controller('TransactionsCtrl', function($scope, $http){

      $scope.page_title = "Transações";


      var API_LOCAL = 'http://127.0.0.1:2323/transactions/1';
      var API_REMOTE = 'http://104.131.60.142/transactions/1';

      console.log("Authorization Basic " + window.localStorage.getItem('token'));

      $http.get(
          API_REMOTE, {
            headers: {"Authorization": "Basic " + window.localStorage.getItem('token')}
        }).
        success(function(data, status, headers, config) {
          // this callback will be called asynchronously
          // when the response is available
          console.log('sucesso na transação');
          $scope.qty = data.length;
          $scope.transactions = data;
        }).
        error(function(data, status, headers, config) {
          console.log('Falha na transação');
          console.log(status);
          // called asynchronously if an error occurs
          // or server returns response with an error status.
      });

    });

    module.controller('BalanceCtrl', function($scope){
      $scope.page_title = "Balanço";
    });

    module.controller('RegisterCtrl', function($scope, $http){
      $scope.page_title = "Registro";

      $scope.username = '';
      $scope.password = '';
      $scope.email = '';


      $scope.register = function() {

        var API_USER_REGISTER_LOCAL = 'http://127.0.0.1:2323/user/';
        var API_USER_REGISTER_REMOTE = 'http://104.131.60.142/user/';

        $http.post(
            API_USER_REGISTER_REMOTE,
            {
              username: $scope.username,
              password: $scope.password,
              email: $scope.email
            }
          ).
          success(function(data, status, headers, config) {
            // this callback will be called asynchronously
            // when the response is available
            console.log(data);
            window.localStorage.setItem("token", data.token);
          }).
          error(function(data, status, headers, config) {
            console.log('Falha no registro');
            console.log(status);
            // called asynchronously if an error occurs
            // or server returns response with an error status.
        });
      }


    });    

    module.controller('MainCtrl', function($scope){
      $scope.page_title = "DINHEIRAMA";

      $scope.vibrar = function(ms) {
        console.log('vibrar');
        navigator.notification.vibrate(ms);  
      }

      $scope.notificar = function() {
        alert('Notificando!');
      }
    });


  </script>

  
  
</head>

<body>
  <ons-sliding-menu
    menu-page="menu.html" main-page="page-main.html" side="left"
    var="menu" type="reveal" max-slide-distance="220px" swipeable="true">
  </ons-sliding-menu>

  <ons-template id="menu.html">
    <ons-page modifier="menu-page">
      <ons-toolbar modifier="transparent"></ons-toolbar>

      <ons-list class="menu-list">
        <ons-list-item class="menu-item" ng-click="menu.setMainPage('page-transactions.html', {closeMenu: true})">
          <ons-icon icon="fa-money" fixed-width="true"></ons-icon>
          Transações
        </ons-list-item>

        <ons-list-item class="menu-item" ng-click="menu.setMainPage('page2.html', {closeMenu: true})">
          <ons-icon icon="fa-bar-chart-o" fixed-width="true"></ons-icon>
          Balanço
        </ons-list-item>

        <ons-list-item class="menu-item" ng-click="menu.setMainPage('page-register.html', {closeMenu: true})">
          <ons-icon icon="fa-heart" fixed-width="true"></ons-icon>
          Companheiro
        </ons-list-item>

      <br><br><br><br>

      <ons-list class="bottom-menu-list">
        <ons-list-item class="bottom-menu-item" ng-click="menu.setMainPage('page-login.html', {closeMenu: true})">
          Login
          <div class="notification menu-notification">3</div>
        </ons-list-item>

        <ons-list-item class="bottom-menu-item" ng-click="menu.setMainPage('page-register.html', {closeMenu: true})">
          Register
        </ons-list-item>

        <ons-list-item class="bottom-menu-item" ng-click="menu.setMainPage('page2.html', {closeMenu: true})">
          Send feedback
        </ons-list-item>
      </ons-list>
    </ons-page>
  </ons-template>

  <ons-template id="page-main.html">
    <ons-page ng-controller="MainCtrl">
      <ons-toolbar>
        <div class="left">
          <ons-toolbar-button ng-click="menu.toggle()">
            <ons-icon icon="ion-navicon" size="28px" fixed-width="false"></ons-icon>
          </ons-toolbar-button>
        </div>
        <div class="center">{{page_title}}</div>
      </ons-toolbar>

        <br>

        <ons-button modifier="large" ng-click="vibrar(1000)">Botão Teste Vibrar</ons-button>
        <ons-button modifier="large" ng-click="notificar()">Botão Teste Notificação</ons-button>
          
        <div id="fb-root"></div>

    </ons-page>
  </ons-template>


  <ons-template id="page200.html">
    <ons-page>
      <ons-toolbar>
        <div class="left">
          <ons-toolbar-button ng-click="menu.toggle()">
            <ons-icon icon="ion-navicon" size="28px" fixed-width="false"></ons-icon>
          </ons-toolbar-button>
        </div>
        <div class="center">DINHEIRAMA</div>
      </ons-toolbar>

      <ons-row style="margin-top: 100px; text-align: center;">
        <ons-col>
          <ons-button modifier="light" ng-click="menu.toggleMenu()">
            Toggle Menu
          </ons-button>
          <p style="color: #999; font-size: 13px;">Click "Toggle Menu" to close/open menu,<br> You can also swipe the page left/right.</p>
        </ons-col>
      </ons-row>
    </ons-page>
  </ons-template>

  <ons-template id="page-login.html">
    <ons-page>
      <ons-toolbar>
        <div class="center">Log In</div>
        <div class="right"><ons-toolbar-button ng-click="menu.setMainPage('page-main.html', {closeMenu: true})">Close</ons-toolbar-button></div>
      </ons-toolbar>

      <div class="login-form">
        <input type="email" class="text-input--underbar" placeholder="Email" value="" name="username">
        <input type="password" class="text-input--underbar" style="color:#000;" placeholder="Password" value="" name="password">
        <br><br>
        <ons-button modifier="large" class="login-button">Log In</ons-button>
        <br><br>
        <ons-button modifier="quiet" class="forgot-password">Forgot password?</ons-button>
      </div>

    </ons-page>
  </ons-template>


  <ons-template id="page-register.html">
    <ons-page ng-controller="RegisterCtrl">
      <ons-toolbar>
        <div class="center">Log In</div>
        <div class="right"><ons-toolbar-button ng-click="menu.setMainPage('page-main.html', {closeMenu: true})">Close</ons-toolbar-button></div>
      </ons-toolbar>

      <div class="login-form">

        <input type="username" ng-model="username" class="text-input--underbar" placeholder="Usuário" value="" name="usuario">
        <input type="email" ng-model="email" class="text-input--underbar" placeholder="Email" value="" name="email">
        <input type="password" ng-model="password" class="text-input--underbar" placeholder="Senha" value="" name="password">

        <br><br>
        <ons-button modifier="large" class="login-button" ng-click="register()">Register</ons-button>
        <br><br>
        <ons-button modifier="quiet" class="forgot-password">Forgot password?</ons-button>
      </div>

    </ons-page>
  </ons-template>

  <ons-template id="page2.html">
    <ons-page ng-controller="BalanceCtrl">
      <ons-toolbar>
        <div class="left">
          <ons-toolbar-button ng-click="menu.toggle()">
            <ons-icon icon="ion-navicon" size="28px" fixed-width="false"></ons-icon>
          </ons-toolbar-button>
        </div>
        <div class="center">{{page_title}}</div>
      </ons-toolbar>

      <ons-row style="margin-top: 100px; text-align: center;">
        <ons-col>
          <ons-button modifier="light" ng-click="menu.toggleMenu()">
            Toggle Menu
          </ons-button>
        </ons-col>
      </ons-row>

    </ons-page>
  </ons-template>


  <ons-template id="page-transactions.html">
      <ons-page id="page-transactions" ng-controller="TransactionsCtrl">
        <ons-toolbar>
        <div class="left">
          <ons-toolbar-button ng-click="menu.toggle()">
            <ons-icon icon="ion-navicon" size="28px" fixed-width="false"></ons-icon>
          </ons-toolbar-button>
        </div>
        <div class="center">{{page_title}}</div>
      </ons-toolbar>

        <ons-list>

          <ons-list-item modifier="tappable" class="plan" ng-repeat="transaction in transactions">
            <ons-icon icon="fa-home" size="20px"></ons-icon> {{ transaction.datetime }}
            -
            <span class="list-item-action">
              {{ transaction.description }}
            </span>

            <span class="list-item-action" style="float:right;">
              R$ {{ transaction.amount }}
            </span>
          </ons-list-item>

        </ons-list>

          

      </ons-page>
    </ons-template>

<script>

app.initialize();

</script>
 
</body>
</html>
