<ons-page modifier="menu-page">
  <ons-toolbar modifier="transparent"></ons-toolbar>

  <ons-list class="menu-list">
    <ons-list-item class="menu-item" ng-click="menu.setMainPage('page-transactions.html', {closeMenu: true})">
      <ons-icon icon="fa-money" fixed-width="true"></ons-icon>
      Transações
    </ons-list-item>

    <ons-list-item class="menu-item" ng-click="menu.setMainPage('page-balance.html', {closeMenu: true})">
      <ons-icon icon="fa-bar-chart-o" fixed-width="true"></ons-icon>
      Balanço
    </ons-list-item>

    <ons-list-item class="menu-item" ng-click="menu.setMainPage('page-register.html', {closeMenu: true})">
      <ons-icon icon="fa-heart" fixed-width="true"></ons-icon>
      Companheiro
    </ons-list-item>

  <br><br><br><br>

  <ons-list class="bottom-menu-list">
    <ons-list-item class="bottom-menu-item" ng-click="menu.setMainPage('page-login.html', {closeMenu: true})">
      Login
      <div class="notification menu-notification">3</div>
    </ons-list-item>

    <ons-list-item class="bottom-menu-item" ng-click="menu.setMainPage('page-register.html', {closeMenu: true})">
      Register
    </ons-list-item>

    <ons-list-item class="bottom-menu-item" ng-click="menu.setMainPage('page-balance.html', {closeMenu: true})">
      Send feedback
    </ons-list-item>
  </ons-list>
</ons-page>