
<ons-navigator title="Navigator" var="app_navigator">
  <ons-page ng-controller="LoginCtrl">

    <ons-toolbar>
      <div class="center">Log In</div>
      <div class="right"><ons-toolbar-button ng-click="$scope.app_navigator.pushPage('page-main.html')">Close</ons-toolbar-button></div>
    </ons-toolbar>

    <div class="login-form">

      <input type="username" ng-model="username" class="text-input--underbar" placeholder="Usuário" value="" name="usuario">
      <input type="password" ng-model="password" class="text-input--underbar" placeholder="Senha" value="" name="password">

      <br><br>
      <ons-button modifier="large" class="login-button" ng-click="">Login</ons-button>
      <br><br>
      <ons-button modifier="quiet" class="forgot-password">Forgot password?</ons-button>
      
    </div>

  </ons-page>
</ons-navigator>